################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.cr
/.vs
**/bin
**/obj
*.user
/Index.dat
/Storage.dat
